/* .side-leaves{
    height: 25rem; */
/* } */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://media.discordapp.net/attachments/798212050496126976/920149814799388713/leaves-side.png);
    background-repeat: no-repeat;
    background-size: 30% 100%;
    
    background-position: right;
    background-attachment: fixed;
}

.header{
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title{
    height: 7rem;
    display: flex;

    font-size: 3rem;
    font-weight: bold;
}


.content{
    width: 32rem;
    margin: 0;
    margin-left: 2rem;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

button{
    /* background-color: #4CAF50; */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding-left: 3rem;
    padding-right: 3rem;

    /* margin: 4px 2px; */
    cursor: pointer;
    /* color: ; */
    background-color: rgba(50, 176, 95, 1)
}