<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/style.css">
    <title>STEM - ECO</title>
</head>
<body>
    <!-- <img src="assets/leaves-side.png" alt="leaves"  class="side-leaves"> -->
    <div class="header">

        <p>Crop Print</p>
        <p style="color: white;">Quiz</p>
    </div>

    <div class="content">
        <div class="title">
            <p>Agricultual </p>
           
            <p style="color: rgba(50, 176, 95, 1); margin-left: 0.3rem;">Footprint</p>
        </div>
        <p style="font-size: 1.2rem;">Take this small survey to calculate your agricultual carbon footprint</p>
        <button onclick="window.location.href='/quiz'">Start Quiz</button>
    </div>
</body>
</html>