<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="../static/style/quiz.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <a href="/">EcoStem</a>
        <a class="quiz-a" href="/quiz">Quiz</a>
    </nav>
    <br><br>
    <div class="container">

        <h1>Carbon <span>Footprint</span> Quiz</h1>
    <br><br>
        <div class="form" >
            <form method="post" action="/result" method="POST">
                <p class="question">1. How much land do you use for agriculture? (in metre sq) </p>
                <input type="number" class="one" name="land" />
                <br><br><br>
                <p class="question">2. Do you follow crop rotation (growing more than 1 kind of crop on the same land) </p>
                <input type="radio" id="html" name="crop_rotation" value="a">
                <label for="a">Yes, extensively</label><br>
                <input type="radio" id="html" name="crop_rotation" value="b">
                <label for="b">Yes, moderately</label><br>
                <input type="radio" id="html" name="crop_rotation" value="c">
                <label for="c">Rarely</label><br>
                <input type="radio" id="html" name="crop_rotation" value="d">
                <label for="d">No, I don't</label><br>

                <br><br><br>
                
            
                <p class="question-sub">3. How many tractors do you use in farming? </p>
                <input type="number" class="threea" name="tractors"/>
                <br><br>
                <p class="question-sub">3a. What do they function on?</p>
                <input type="radio" id="html" name="tractors_function" value="a">
                <label for="a">Petrol</label><br>
                <input type="radio" id="html" name="tractors_function" value="b">
                <label for="b">Diesel</label><br>

                <br><br><br>

                <p class="question">4. How many dairy animals do you own? (cows, buffaloes, sheeps, etc)</p>
                <input type="number" class="four" name="animals"/>


                <br><br><br>
                <p class="question-sub">5. What kind of fertilizers do you use?</p>
                <input type="radio" id="html" name="fertilizers" value="a">
                <label for="a">Organic</label><br>
                <input type="radio" id="html" name="fertilizers" value="b">
                <label for="b">Synthetic</label><br>
                <input type="radio" id="html" name="fertilizers" value="c">
                <label for="c">I don't use any of them</label><br>
               <br><br><br>
               <p class="question">6. How long is farming being carried out on the land you're using (in years)</p>
                <input type="number" class="six" name="age" />
                <br><br>
                <input class="btn" type="submit" name="submit" value="Submit">
            </form>
            <br><br>
        </div>
    </div>
    <!-- <button onclick="window.location.href='/result'">get results</button> -->
</body>
</html>